*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h4{color:rgb(255, 255, 255);
    background: #6d0288;
    padding: 20px;
  

}
h1
{text-align: center;
    padding: 20px;}
    h2
    {text-align: center;
        padding: 20px;}
        h3
        {text-align: center;
            padding: 20px;}
            